name: Order Service CI

on:
push:
paths:
- 'src/order-service/'
pull_request:
paths:
- 'src/order-service/'

jobs:
lint:
name: Lint Code
runs-on: ubuntu-latest
steps:
- name: Checkout Code
uses: actions/checkout@v4

build-and-test:
name: Build and Test
needs: lint
runs-on: ubuntu-latest
steps:
- name: Checkout Code
uses: actions/checkout@v4